.commento-root * {
	color: black !important;
	font-family: "Favorit-Light", helvetica, sans-serif;
}
.commento-root textarea {
	background: transparent;
	border: 1px solid black;
	border-radius: 0;
	color: black;
	font-family: "Favorit-Light", helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 100;
}
.commento-root textarea::placeholder {
	color: black;
	font-size: 1rem;
	font-family: "Favorit-Light", helvetica, sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	padding-top: 12px;
}
.commento-logo-container {
	display: none;
}
#commento-submit-button-root {
	background: #4ca1ff;
	border: 1px solid black;
	border-radius: 0;
	color: black;
	padding: 12px 15px 10px;
	margin: 10px 0;
	font-size: 1rem;
	font-family: "Favorit-Light", helvetica, sans-serif;
	font-weight: 100;
	box-shadow: none;
}
.commento-root
	.commento-anonymous-checkbox-container
	input[type="checkbox"]
	+ label {
	margin-top: 3px;
	font-size: 1rem;
	font-family: "Favorit-Light", helvetica, sans-serif;
	font-weight: 100;
}
.commento-root
	.commento-anonymous-checkbox-container
	input[type="checkbox"]
	+ label:before {
	margin-top: 4px;
	background: transparent;
	border: 1px solid black;
	border-radius: 0;
}
.commento-root .commento-markdown-button {
	line-height: 67px;
}
.commento-root .commento-login .commento-login-text {
	margin-right: 0;
	font-size: 1rem;
	font-family: "Favorit-Light", helvetica, sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	color: black;
	height: 32px;
}
#commento-markdown-button-root {
	margin-left: 0;
	color: black;
	font-size: 1rem;
	font-family: "Favorit-Light", helvetica, sans-serif;
	font-weight: 100;
}
.commento-root .commento-markdown-button b {
	font-size: 1rem;
	font-family: "Favorit-Light", helvetica, sans-serif;
	font-weight: 100;
}
.commento-root .commento-card {
	border-top: 1px solid black;
	border-left: 0 !important;
}
.commento-root .commento-card .commento-body p {
	color: black;
}
.commento-root .commento-avatar {
	background: #ff58ff !important;
}
.commento-root .commento-card .commento-option-button {
	background: black !important;
}
.commento-root
	.commento-round-check
	input[type="checkbox"]:checked
	+ label:after,
.commento-root .commento-round-check input[type="radio"]:checked + label:after {
	padding-top: 5px;
}
.commento-sort-policy-buttons a {
	text-transform: uppercase;
	font-size: 12px !important;
}
.commento-google-button {
	background: #ff4c61 !important;
	border: 1px solid black !important;
	border-radius: 0 !important;
	font-weight: 300;
	font-family: "Favorit-Light", helvetica, sans-serif !important;
}
.commento-twitter-button {
	background: ##4cfff4 !important;
	border: 1px solid black !important;
	border-radius: 0 !important;
	font-weight: 300;
	font-family: "Favorit-Light", helvetica, sans-serif !important;
}
.commento-github-button, .commento-gitlab-button {
	display: none !important;
}
#commento-login-box {
	background: #f0f0f0 !important;
	border: 1px solid black !important;
}
.commento-email {
	box-shadow: none !important;
	border: 1px solid black !important;
	border-radius: 0 !important;
}
#commento-login-box-email-input {
	height: 30px !important; 
	-webkit-appearance: none !important;
}

@media (max-width: 1199px) {
	#commento-markdown-button-root {
		display: none;
	}
	.commento-root .commento-anonymous-checkbox-container {
		float: left;
		margin: 10px 0;
	}
	.commento-root
		.commento-anonymous-checkbox-container
		input[type="checkbox"]
		+ label {
		font-size: 12px;
		padding-top: 4px;
		margin-top: 5px;
	}
	#commento-submit-button-root {
		font-size: 12px;
		padding: 5px 7px 2px;
	}
	.commento-root .commento-login .commento-login-text {
		font-size: 12px;
		height: 17px;
	}
	.commento-root .commento-sort-policy-buttons-container {
		padding: 60px 0 0;
	}
	.commento-root .commento-card .commento-options-mobile {
		display: none;
	}
	.commento-root
		.commento-sort-policy-buttons-container
		.commento-sort-policy-buttons {
		margin-top: -5px;
	}
	#commento-login-box {
		max-width: 90vw;
	}
	#commento-textarea-root {
		-webkit-appearance: none !important;
	}
}
