@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Kablammo";
	src: url("/fonts/Kablammo/Kablammov0.16[move].woff2");
}
@font-face {
	font-family: "Iso";
	src: url("/fonts/Iso/ISOv0.8-Regular.woff2");
}
body {
	@apply font-display;
	@apply text-black;
}

h1 {
	font-size: 5vw;
}
h2 {
	font-size: 4vwpx;
}
h3 {
	font-size: 5vw;
}
h4 {
	font-size: 2px;
}
h5 {
	font-size: 2px;
}
h6 {
	font-size: 2px;
}

canvas {
	width: 100vw !important;
	height: 100vh !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}
